### Core ML dependencies (install torch first)
numpy==1.26.3

### vLLM and model dependencies
transformers[torch]==4.57.3
vllm
lm-format-enforcer
xformers==0.0.27.post2

### Database and server
psycopg2-binary==2.9.11
gpustat==1.1.1
mcp
starlette
uvicorn
asyncpg
pyairports
requests

### Requirements from MARFT (may need updating from time to time)
absl_py
cloudpickle
fairscale
json_repair
peft
pydantic
sentence_transformers
sentencepiece
setproctitle
tensorboard
tensorboardX
latex2sympy2
word2number